:host {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
  margin-right: 20px;
}

.material-icons{
  font-size: 34px;
  color: white;
}

.navList{
  float: right;
  margin-right: 20px;
}

.toolbar {
  display: contents;
  align-items: center;
  font-weight: 600;
  flex-wrap: wrap;
  padding: 8px 16px;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}
